<html>
<head>
<title>Change Password</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
</head>
<body>
<form action="/api/v1/change-password-from-mail" method="POST">
    <input type="hidden" class="form-control" id="authorization" aria-describedby="emailHelp" value="<%= token %>" name="authorization" required>
    <div class="form-group">
    <label for="exampleInputEmail1">password</label>
    <input type="password" class="form-control" id="password" aria-describedby="emailHelp" value="<%= password || ''%>" placeholder="Enter password" name="password" required>
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Re-Enter Password</label>
    <input type="password" class="form-control" id="re_password" value="<%= re_password || ''%>" placeholder="re enter password" name="re_password">
    </div>
    <%if(error){%>
        <div>
            <span class="text-danger"><%= error%></span>
        </div>
    <%}%>
    <button type="submit" class="btn btn-primary">change password</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</body>
</html>